-f https://download.pytorch.org/whl/torch_stable.html
-f https://download.openmmlab.com/mmcv/dist/cpu/torch1.8.0/index.html
torch==1.8.1+cpu
torchvision==0.9.1+cpu
git+https://github.com/obss/sahi.git@mmdet-config
mmdet==2.18.1
mmcv-full==1.3.17
streamlit